<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="trace.log" formatter="Text Formatter" asynchronous="true" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <system.diagnostics>
    <switches>
      <add name="BoolSwitch" value="1" />
    </switches>
  </system.diagnostics>
  
  <appSettings>
    <add key="JasConfigPath" value="C:\JCI_MicroServicesProject\MEFDll\SalesOrder\r_jaas.conf" />
    <add key="DatasourceLibraryPath" value="C:\JCI_MicroServicesProject\MEFDll\SalesOrder" />
    <add key="ServiceName" value="SalesOrder" />
    <add key="Environment" value="Dev" />
    <add key="ConfigurationDbConnectionString" value="Data Source=.\sqlexpress;Initial Catalog=Configuration;Integrated Security=True" />
    <add key="ReadConfigFromDatabase" value="false" />
    <add key="DatabaseConnectionString" value="Driver={Hortonworks Hive ODBC Driver};uid={a3000053@JCI.COM};asyncexecpollinterval=100;authmech=1;binarycolumnlength=32767;decimalcolumnscale=10;defaultstringcolumnlength=255;delegatekrbcreds=0;description=HiveServer;driverconfigtakeprecedence=0;enableasyncexec=0;fastsqlprepare=0;fixunquoteddefaultschemanameinquery=1;gettableswithquery=1;hiveservertype=2;host={c201sc02m001.jci.com:2181,c201sc02m002.jci.com:2181,c201sc02m003.jci.com:2181};invalidsessionautorecover=1;krbhostfqdn=_HOST;krbrealm=JCI.COM;krbservicename=hive;rowsfetchedperblock=10000;schema=default;servicediscoverymode=1;showsystemtable=0;sockettimeout=60;ssl=0;thrifttransport=1;usenativequery=0;useonlysspi=0;useunicodesqlcharactertypes=0;zknamespace=hiveserver2;ssp_hive.fetch.task.conversion=none" />
    <add key="Datalakeor01TableName_na" value="iscala_bh_dbo_usable.or01na00" />
    <add key="Datalakeor01TableName_n1" value="scala_nz_dbo_usable.or01n100" />
    <add key="Datalakeor01TableName_mg" value="scala_db_dbo_usable.or01mg00" />
    <add key="Datalakeor01TableName_mh" value="scala_db_dbo_usable.or01mh00" />
    <add key="Datalakeor01TableName_mi" value="scala_db_dbo_usable.or01mi00" />
    <add key="Datalakeor01TableName_mj" value="scala_db_dbo_usable.or01mj00" />
    <add key="Datalakeor01TableName_mk" value="scala_qa_dbo_usable.or01mk00" />
    <add key="Datalakeor01TableName_ml" value="scala_om_dbo_usable.or01ml00" />
    <add key="Datalakeor01TableName_mn" value="scala_qv_dbo_usable.or01mn00" />
    <add key="Datalakeor01TableName_j1" value="scala_th_dbo_usable.or01j100" />
    <add key="Datalakeor01TableName_j4" value="scala_th_dbo_usable.or01j400" />
    <add key="Datalakeor01TableName_l1" value="scala_kr_dbo_usable.or01l100" />
    <add key="Datalakeor01TableName_m1" value="scala_my_dbo_usable.or01m100" />
    <add key="Datalakeor01TableName_va" value="scala_cn_marine_dbo_usable.or01va00" />
    <add key="Datalakeor01TableName_vc" value="scala_cn_marine_dbo_usable.or01vc00" />
    <add key="Datalakeor03TableName_na" value="iscala_bh_dbo_usable.or03na00" />
    <add key="Datalakeor03TableName_n1" value="scala_nz_dbo_usable.or03n100" />
    <add key="Datalakeor03TableName_mg" value="scala_db_dbo_usable.or03mg00" />
    <add key="Datalakeor03TableName_mh" value="scala_db_dbo_usable.or03mh00" />
    <add key="Datalakeor03TableName_mi" value="scala_db_dbo_usable.or03mi00" />
    <add key="Datalakeor03TableName_mj" value="scala_db_dbo_usable.or03mj00" />
    <add key="Datalakeor03TableName_mk" value="scala_qa_dbo_usable.or03mk00" />
    <add key="Datalakeor03TableName_ml" value="scala_om_dbo_usable.or03ml00" />
    <add key="Datalakeor03TableName_mn" value="scala_qv_dbo_usable.or03mn00" />
    <add key="Datalakeor03TableName_j1" value="scala_th_dbo_usable.or03j100" />
    <add key="Datalakeor03TableName_j4" value="scala_th_dbo_usable.or03j400" />
    <add key="Datalakeor03TableName_l1" value="scala_kr_dbo_usable.or03l100" />
    <add key="Datalakeor03TableName_m1" value="scala_my_dbo_usable.or03m100" />
    <add key="Datalakeor03TableName_va" value="scala_cn_marine_dbo_usable.or03va00" />
    <add key="Datalakeor03TableName_vc" value="scala_cn_marine_dbo_usable.or03vc00" />
    <add key="Datalakeor01ColumnName_na" value=" distinct OR01001,OR01002,OR01003,OR01008,OR01015,OR01016" />
    <add key="Datalakeor01ColumnName_n1" value=" distinct OR01001,OR01002,OR01003,OR01008,OR01015,OR01016" />
    <add key="Datalakeor01ColumnName_mg" value=" distinct OR01001,OR01002,OR01003,OR01008,OR01015,OR01016" />
    <add key="Datalakeor01ColumnName_mh" value=" distinct OR01001,OR01002,OR01003,OR01008,OR01015,OR01016" />
    <add key="Datalakeor01ColumnName_mi" value=" distinct OR01001,OR01002,OR01003,OR01008,OR01015,OR01016" />
    <add key="Datalakeor01ColumnName_mj" value=" distinct OR01001,OR01002,OR01003,OR01008,OR01015,OR01016" />
    <add key="Datalakeor01ColumnName_mk" value=" distinct OR01001,OR01002,OR01003,OR01008,OR01015,OR01016" />
    <add key="Datalakeor01ColumnName_ml" value=" distinct OR01001,OR01002,OR01003,OR01008,OR01015,OR01016" />
    <add key="Datalakeor01ColumnName_mn" value=" distinct OR01001,OR01002,OR01003,OR01008,OR01015,OR01016" />
    <add key="Datalakeor01ColumnName_j1" value=" distinct OR01001,OR01002,OR01003,OR01008,OR01015,OR01016" />
    <add key="Datalakeor01ColumnName_j4" value=" distinct OR01001,OR01002,OR01003,OR01008,OR01015,OR01016" />
    <add key="Datalakeor01ColumnName_l1" value=" distinct OR01001,OR01002,OR01003,OR01008,OR01015,OR01016" />
    <add key="Datalakeor01ColumnName_m1" value=" distinct OR01001,OR01002,OR01003,OR01008,OR01015,OR01016" />
    <add key="Datalakeor01ColumnName_va" value=" distinct OR01001,OR01002,OR01003,OR01008,OR01015,OR01016" />
    <add key="Datalakepc01ColumnName_vc" value=" distinct OR01001,OR01002,OR01003,OR01008,OR01015,OR01016" />
    <add key="Datalakeor03ColumnName_na" value="OR03002,OR03006,OR03011,OR03012,OR03021" />
    <add key="Datalakeor03ColumnName_n1" value="OR03002,OR03006,OR03011,OR03012,OR03021" />
    <add key="Datalakeor03ColumnName_mg" value="OR03002,OR03006,OR03011,OR03012,OR03021" />
    <add key="Datalakeor03ColumnName_mh" value="OR03002,OR03006,OR03011,OR03012,OR03021" />
    <add key="Datalakeor03ColumnName_mi" value="OR03002,OR03006,OR03011,OR03012,OR03021" />
    <add key="Datalakeor03ColumnName_mj" value="OR03002,OR03006,OR03011,OR03012,OR03021" />
    <add key="Datalakeor03ColumnName_mk" value="OR03002,OR03006,OR03011,OR03012,OR03021" />
    <add key="Datalakeor03ColumnName_ml" value="OR03002,OR03006,OR03011,OR03012,OR03021" />
    <add key="Datalakeor03ColumnName_mn" value="OR03002,OR03006,OR03011,OR03012,OR03021" />
    <add key="Datalakeor03ColumnName_j1" value="OR03002,OR03006,OR03011,OR03012,OR03021" />
    <add key="Datalakeor03ColumnName_j4" value="OR03002,OR03006,OR03011,OR03012,OR03021" />
    <add key="Datalakeor03ColumnName_l1" value="OR03002,OR03006,OR03011,OR03012,OR03021" />
    <add key="Datalakeor03ColumnName_m1" value="OR03002,OR03006,OR03011,OR03012,OR03021" />
    <add key="Datalakeor03ColumnName_va" value="OR03002,OR03006,OR03011,OR03012,OR03021" />
    <add key="Datalakeor03ColumnName_vc" value="OR03002,OR03006,OR03011,OR03012,OR03021" />
    <add key="ConnectionCacheTime" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
</configuration>