<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="JasConfigPath" value="C:\JCI_MICROSERVICESPROJECT\MEFDLL\TaxInvoice\r_jaas.conf" />
    <add key="DatasourceLibraryPath" value="C:\JCI_MicroServicesProject\MEFDll\TaxInvoice" />
    <add key="ServiceName" value="CreditStatus" />
    <add key="Environment" value="Dev" />
    <add key="ConfigurationDbConnectionString" value="Data Source=.\sqlexpress;Initial Catalog=Configuration;Integrated Security=True" />
    <add key="ReadConfigFromDatabase" value="false" />
    <add key="DatabaseConnectionString" value="Driver={Hortonworks Hive ODBC Driver};uid={a3000053@JCI.COM};asyncexecpollinterval=100;authmech=1;binarycolumnlength=32767;decimalcolumnscale=10;defaultstringcolumnlength=255;delegatekrbcreds=0;description=HiveServer;driverconfigtakeprecedence=0;enableasyncexec=0;fastsqlprepare=0;fixunquoteddefaultschemanameinquery=1;gettableswithquery=1;hiveservertype=2;host={c201sc02m001.jci.com:2181,c201sc02m002.jci.com:2181,c201sc02m003.jci.com:2181};invalidsessionautorecover=1;krbhostfqdn=_HOST;krbrealm=JCI.COM;krbservicename=hive;rowsfetchedperblock=10000;schema=default;servicediscoverymode=1;showsystemtable=0;sockettimeout=60;ssl=0;thrifttransport=1;usenativequery=0;useonlysspi=0;useunicodesqlcharactertypes=0;zknamespace=hiveserver2;ssp_hive.fetch.task.conversion=none" />
    <add key="ConnectionCacheTime" value="0" />
    <add key="DatalakeTableName_na" value="iscala_bh_dbo_usable.SL17na00" />
    <add key="DatalakeTableName_n1" value="scala_nz_dbo_usable.SL17n100" />
    <add key="DatalakeTableName_mg" value="scala_db_dbo_usable.SL17mg00" />
    <add key="DatalakeTableName_mh" value="scala_db_dbo_usable.SL17mh00" />
    <add key="DatalakeTableName_mi" value="scala_db_dbo_usable.SL17mi00" />
    <add key="DatalakeTableName_mj" value="scala_db_dbo_usable.SL17mj00" />
    <add key="DatalakeTableName_mk" value="scala_qa_dbo_usable.SL17mk00" />
    <add key="DatalakeTableName_ml" value="scala_om_dbo_usable.SL17ml00" />
    <add key="DatalakeTableName_mn" value="scala_qv_dbo_usable.SL17mn00" />
    <add key="DatalakeTableName_j1" value="scala_th_dbo_usable.SL17j100" />
    <add key="DatalakeTableName_j4" value="scala_th_dbo_usable.SL17j400" />
    <add key="DatalakeTableName_l1" value="scala_kr_dbo_usable.SL17l100" />
    <add key="DatalakeTableName_m1" value="scala_my_dbo_usable.SL17m100" />
    <add key="DatalakeTableName_va" value="scala_cn_marine_dbo_usable.SL17va00" />
    <add key="DatalakeTableName_vc" value="scala_cn_marine_dbo_usable.SL17vc00" />

    <add key="DatalakeColumnName_na" value=" DISTINCT SL17001,SL17002,SL17003,SL17004,SL17007,SL17008,SL17020,SL17032,SL17038,SL17050" />
    <add key="DatalakeColumnName_n1" value=" DISTINCT SL17001,SL17002,SL17003,SL17004,SL17007,SL17008,SL17020,SL17032,SL17038,SL17050" />
    <add key="DatalakeColumnName_mg" value=" DISTINCT SL17001,SL17002,SL17003,SL17004,SL17007,SL17008,SL17020,SL17032,SL17038,SL17050" />
    <add key="DatalakeColumnName_mh" value=" DISTINCT SL17001,SL17002,SL17003,SL17004,SL17007,SL17008,SL17020,SL17032,SL17038,SL17050" />
    <add key="DatalakeColumnName_mi" value=" DISTINCT SL17001,SL17002,SL17003,SL17004,SL17007,SL17008,SL17020,SL17032,SL17038,SL17050" />
    <add key="DatalakeColumnName_mj" value=" DISTINCT SL17001,SL17002,SL17003,SL17004,SL17007,SL17008,SL17020,SL17032,SL17038,SL17050" />
    <add key="DatalakeColumnName_mk" value=" DISTINCT SL17001,SL17002,SL17003,SL17004,SL17007,SL17008,SL17020,SL17032,SL17038,SL17050" />
    <add key="DatalakeColumnName_ml" value=" DISTINCT SL17001,SL17002,SL17003,SL17004,SL17007,SL17008,SL17020,SL17032,SL17038,SL17050" />
    <add key="DatalakeColumnName_mn" value=" DISTINCT SL17001,SL17002,SL17003,SL17004,SL17007,SL17008,SL17020,SL17032,SL17038,SL17050" />
    <add key="DatalakeColumnName_j1" value=" DISTINCT SL17001,SL17002,SL17003,SL17004,SL17007,SL17008,SL17020,SL17032,SL17038,SL17050" />
    <add key="DatalakeColumnName_j4" value=" DISTINCT SL17001,SL17002,SL17003,SL17004,SL17007,SL17008,SL17020,SL17032,SL17038,SL17050" />
    <add key="DatalakeColumnName_l1" value=" DISTINCT SL17001,SL17002,SL17003,SL17004,SL17007,SL17008,SL17020,SL17032,SL17038,SL17050" />
    <add key="DatalakeColumnName_m1" value=" DISTINCT SL17001,SL17002,SL17003,SL17004,SL17007,SL17008,SL17020,SL17032,SL17038,SL17050" />
    <add key="DatalakeColumnName_va" value=" DISTINCT SL17001,SL17002,SL17003,SL17004,SL17007,SL17008,SL17020,SL17032,SL17038,SL17050" />
    <add key="DatalakeColumnName_vc" value=" DISTINCT SL17001,SL17002,SL17003,SL17004,SL17007,SL17008,SL17020,SL17032,SL17038,SL17050" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>