<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseConnectionString" value="Driver={Hortonworks Hive ODBC Driver};uid={a3000053@JCI.COM};asyncexecpollinterval=100;authmech=1;binarycolumnlength=32767;decimalcolumnscale=10;defaultstringcolumnlength=255;delegatekrbcreds=0;description=HiveServer;driverconfigtakeprecedence=0;enableasyncexec=0;fastsqlprepare=0;fixunquoteddefaultschemanameinquery=1;gettableswithquery=1;hiveservertype=2;host={c201sc02m001.jci.com:2181,c201sc02m002.jci.com:2181,c201sc02m003.jci.com:2181};invalidsessionautorecover=1;krbhostfqdn=_HOST;krbrealm=JCI.COM;krbservicename=hive;rowsfetchedperblock=10000;schema=default;servicediscoverymode=1;showsystemtable=0;sockettimeout=60;ssl=0;thrifttransport=1;usenativequery=0;useonlysspi=0;useunicodesqlcharactertypes=0;zknamespace=hiveserver2;ssp_hive.fetch.task.conversion=none" />
    <add key="ReadConfigFromDatabase" value="false" />
    <add key="ConfigurationDbConnectionString" value="server=M2387807\JCISQLDATA;database=Configuration;user id=sa; pwd=Jci@123" />
    <add key="ServiceName" value="OrderSecuredRevenue" />
    <add key="Environment" value="Dev" />
    <add key="DatasourceLibraryPath" value="C:\JCI_MicroServicesProject\MEFDll\OrderSecuredRevenue" />

    <add key="DatabaseTableName_na" value="iscala_bh_dbo_usable.or03na00" />
    <add key="DatabaseTableName_n1" value="scala_nz_dbo_usable.or03n100" />
    <add key="DatabaseTableName_mg" value="scala_db_dbo_usable.or03mg00" />
    <add key="DatabaseTableName_mh" value="scala_db_dbo_usable.or03mh00" />
    <add key="DatabaseTableName_mi" value="scala_db_dbo_usable.or03mi00" />
    <add key="DatabaseTableName_mj" value="scala_db_dbo_usable.or03mj00" />
    <add key="DatabaseTableName_mk" value="scala_qa_dbo_usable.or03mk00" />
    <add key="DatabaseTableName_ml" value="scala_om_dbo_usable.or03ml00" />
    <add key="DatabaseTableName_mn" value="scala_qv_dbo_usable.or03mn00" />
    <add key="DatabaseTableName_j1" value="scala_th_dbo_usable.or03j100" />
    <add key="DatabaseTableName_j4" value="scala_th_dbo_usable.or03j400" />
    <add key="DatabaseTableName_l1" value="scala_kr_dbo_usable.or03l100" />
    <add key="DatabaseTableName_m1" value="scala_my_dbo_usable.or03m100" />
    <add key="DatabaseTableName_va" value="scala_cn_marine_dbo_usable.or03va00" />
    <add key="DatabaseTableName_vc" value="scala_cn_marine_dbo_usable.or03vc00" />
    <add key="DatabaseColumnName_na" value="or03001, or03002, or03004, or03008, or03009, or03011, or03065" />
    <add key="DatabaseColumnName_n1" value="or03001, or03002, or03004, or03008, or03009, or03011, or03065" />
    <add key="DatabaseColumnName_mg" value="or03001, or03002, or03004, or03008, or03009, or03011, or03065" />
    <add key="DatabaseColumnName_mh" value="or03001, or03002, or03004, or03008, or03009, or03011, or03065" />
    <add key="DatabaseColumnName_mi" value="or03001, or03002, or03004, or03008, or03009, or03011, or03065" />
    <add key="DatabaseColumnName_mj" value="or03001, or03002, or03004, or03008, or03009, or03011, or03065" />
    <add key="DatabaseColumnName_mk" value="or03001, or03002, or03004, or03008, or03009, or03011, or03065" />
    <add key="DatabaseColumnName_ml" value="or03001, or03002, or03004, or03008, or03009, or03011, or03065" />
    <add key="DatabaseColumnName_mn" value="or03001, or03002, or03004, or03008, or03009, or03011, or03065" />
    <add key="DatabaseColumnName_j1" value="or03001, or03002, or03004, or03008, or03009, or03011, or03065" />
    <add key="DatabaseColumnName_j4" value="or03001, or03002, or03004, or03008, or03009, or03011, or03065" />
    <add key="DatabaseColumnName_l1" value="or03001, or03002, or03004, or03008, or03009, or03011, or03065" />
    <add key="DatabaseColumnName_m1" value="or03001, or03002, or03004, or03008, or03009, or03011, or03065" />
    <add key="DatabaseColumnName_va" value="or03001, or03002, or03004, or03008, or03009, or03011, or03065" />
    <add key="DatabaseColumnName_vc" value="or03001, or03002, or03004, or03008, or03009, or03011, or03065" />
  </appSettings>
</configuration>