<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="Log\trace.log" formatter="Text Formatter" asynchronous="true" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>  
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="DatabaseConnectionString" value="Driver={Hortonworks Hive ODBC Driver};uid={a3000053@JCI.COM};asyncexecpollinterval=100;authmech=1;binarycolumnlength=32767;decimalcolumnscale=10;defaultstringcolumnlength=255;delegatekrbcreds=0;description=HiveServer;driverconfigtakeprecedence=0;enableasyncexec=0;fastsqlprepare=0;fixunquoteddefaultschemanameinquery=1;gettableswithquery=1;hiveservertype=2;host={c201sc02m001.jci.com:2181,c201sc02m002.jci.com:2181,c201sc02m003.jci.com:2181};invalidsessionautorecover=1;krbhostfqdn=_HOST;krbrealm=JCI.COM;krbservicename=hive;rowsfetchedperblock=10000;schema=default;servicediscoverymode=1;showsystemtable=0;sockettimeout=60;ssl=0;thrifttransport=1;usenativequery=0;useonlysspi=0;useunicodesqlcharactertypes=0;zknamespace=hiveserver2;ssp_hive.fetch.task.conversion=none" />
    <!--<add key="DatabaseConnectionString" value="server=J051M106.jci.com; uid=ISCST-42275_Denodo_DEV; pwd=*)&amp;^%hdhdb83TD"/>-->
    <add key="ReadConfigFromDatabase" value="false" />
    <add key="ConfigurationDbConnectionString" value="server=M2387807\JCISQLDATA;database=Configuration;user id=sa; pwd=Jci@123" />
    <add key="ServiceName" value="SalesLedgerInvoicing" />
    <add key="Environment" value="Dev" />
    <add key="DatasourceLibraryPath" value="C:\JCI_MicroServicesProject\MEFDll\ServiceContractManagement" />
    <add key="DatabaseServiceContractMasterTableName_na" value="iscala_bh_dbo_usable.sm11na00" />
    <add key="DatabaseServiceContractLineTableName_na" value="iscala_bh_dbo_usable.sm13na00" />
    <add key="ConnectionCacheTime" value="60"/>

    <add key="DatabaseServiceContractMasterTableName_n1" value="scala_nz_dbo_usable.sm11n100" />
    <add key="DatabaseServiceContractLineTableName_n1" value="scala_nz_dbo_usable.sm13n100" />

    <add key="DatabaseServiceContractMasterTableName_mg" value="scala_db_dbo_usable.sm11mg00" />
    <add key="DatabaseServiceContractLineTableName_mg" value="scala_db_dbo_usable.sm13mg00" />

    <add key="DatabaseServiceContractMasterTableName_mh" value="scala_db_dbo_usable.sm11mh00" />
    <add key="DatabaseServiceContractLineTableName_mh" value="scala_db_dbo_usable.sm13mh00" />

    <add key="DatabaseServiceContractMasterTableName_mi" value="scala_db_dbo_usable.sm11mi00" />
    <add key="DatabaseServiceContractLineTableName_mi" value="scala_db_dbo_usable.sm13mi00" />

    <add key="DatabaseServiceContractMasterTableName_mj" value="scala_db_dbo_usable.sm11mj00" />
    <add key="DatabaseServiceContractLineTableName_mj" value="scala_db_dbo_usable.sm13mj00" />

    <add key="DatabaseServiceContractMasterTableName_mk" value="scala_qa_dbo_usable.sm11mk00" />
    <add key="DatabaseServiceContractLineTableName_mk" value="scala_qa_dbo_usable.sm13mk00" />

    <add key="DatabaseServiceContractMasterTableName_ml" value="scala_om_dbo_usable.sm11ml00" />
    <add key="DatabaseServiceContractLineTableName_ml" value="scala_om_dbo_usable.sm13ml00" />

    <add key="DatabaseServiceContractMasterTableName_mn" value="scala_qv_dbo_usable.sm11mn00" />
    <add key="DatabaseServiceContractLineTableName_mn" value="scala_qv_dbo_usable.sm13mn00" />

    <add key="DatabaseServiceContractMasterTableName_j1" value="scala_th_dbo_usable.sm11j100" />
    <add key="DatabaseServiceContractLineTableName_j1" value="scala_th_dbo_usable.sm13j100" />

    <add key="DatabaseServiceContractMasterTableName_j4" value="scala_th_dbo_usable.sm11j400" />
    <add key="DatabaseServiceContractLineTableName_j4" value="scala_th_dbo_usable.sm13j400" />

    <add key="DatabaseServiceContractMasterTableName_l1" value="scala_kr_dbo_usable.sm11l100" />
    <add key="DatabaseServiceContractLineTableName_l1" value="scala_kr_dbo_usable.sm13l100" />

    <add key="DatabaseServiceContractMasterTableName_m1" value="scala_my_dbo_usable.sm11m100" />
    <add key="DatabaseServiceContractLineTableName_m1" value="scala_my_dbo_usable.sm13m100" />

    <add key="DatabaseServiceContractMasterTableName_va" value="scala_cn_marine_dbo_usable.sm11va00" />
    <add key="DatabaseServiceContractLineTableName_va" value="scala_cn_marine_dbo_usable.sm13va00" />

    <add key="DatabaseServiceContractMasterTableName_vc" value="scala_cn_marine_dbo_usable.sm11vc00" />
    <add key="DatabaseServiceContractLineTableName_vc" value="scala_cn_marine_dbo_usable.sm13vc00" />

    <add key="DatabaseServiceContractMasterColumnName_na" value="SM11001,SM11003,SM11004,SM11011,SM11012,SM11014,SM11034,SM11015,SM11016,SM11017,SM11018,SM11023,SM11027,SM11068,SM11022,SM11093" />
    <add key="DatabaseServiceContractLineColumnName_na" value="SM13001,SM13002,SM13008,SM13019,SM13042,SM13027, SM13050,SM13045" />

    <add key="DatabaseServiceContractMasterColumnName_n1" value="SM11001,SM11003,SM11004,SM11011,SM11012,SM11014,SM11034,SM11015,SM11016,SM11017,SM11018,SM11023,SM11027,SM11068,SM11022,SM11093" />
    <add key="DatabaseServiceContractLineColumnName_n1" value="SM13001,SM13002,SM13008,SM13019,SM13042,SM13027, SM13050,SM13045" />

    <add key="DatabaseServiceContractMasterColumnName_mg" value="SM11001,SM11003,SM11004,SM11011,SM11012,SM11014,SM11034,SM11015,SM11016,SM11017,SM11018,SM11023,SM11027,SM11068,SM11022,SM11093" />
    <add key="DatabaseServiceContractLineColumnName_mg" value="SM13001,SM13002,SM13008,SM13019,SM13042,SM13027, SM13050,SM13045" />

    <add key="DatabaseServiceContractMasterColumnName_mh" value="SM11001,SM11003,SM11004,SM11011,SM11012,SM11014,SM11034,SM11015,SM11016,SM11017,SM11018,SM11023,SM11027,SM11068,SM11022,SM11093" />
    <add key="DatabaseServiceContractLineColumnName_mh" value="SM13001,SM13002,SM13008,SM13019,SM13042,SM13027, SM13050,SM13045" />

    <add key="DatabaseServiceContractMasterColumnName_mi" value="SM11001,SM11003,SM11004,SM11011,SM11012,SM11014,SM11034,SM11015,SM11016,SM11017,SM11018,SM11023,SM11027,SM11068,SM11022,SM11093" />
    <add key="DatabaseServiceContractLineColumnName_mi" value="SM13001,SM13002,SM13008,SM13019,SM13042,SM13027, SM13050,SM13045" />

    <add key="DatabaseServiceContractMasterColumnName_mj" value="SM11001,SM11003,SM11004,SM11011,SM11012,SM11014,SM11034,SM11015,SM11016,SM11017,SM11018,SM11023,SM11027,SM11068,SM11022,SM11093" />
    <add key="DatabaseServiceContractLineColumnName_mj" value="SM13001,SM13002,SM13008,SM13019,SM13042,SM13027, SM13050,SM13045" />

    <add key="DatabaseServiceContractMasterColumnName_mk" value="SM11001,SM11003,SM11004,SM11011,SM11012,SM11014,SM11034,SM11015,SM11016,SM11017,SM11018,SM11023,SM11027,SM11068,SM11022,SM11093" />
    <add key="DatabaseServiceContractLineColumnName_mk" value="SM13001,SM13002,SM13008,SM13019,SM13042,SM13027, SM13050,SM13045" />

    <add key="DatabaseServiceContractMasterColumnName_ml" value="SM11001,SM11003,SM11004,SM11011,SM11012,SM11014,SM11034,SM11015,SM11016,SM11017,SM11018,SM11023,SM11027,SM11068,SM11022,SM11093" />
    <add key="DatabaseServiceContractLineColumnName_ml" value="SM13001,SM13002,SM13008,SM13019,SM13042,SM13027, SM13050,SM13045" />

    <add key="DatabaseServiceContractMasterColumnName_mn" value="SM11001,SM11003,SM11004,SM11011,SM11012,SM11014,SM11034,SM11015,SM11016,SM11017,SM11018,SM11023,SM11027,SM11068,SM11022,SM11093" />
    <add key="DatabaseServiceContractLineColumnName_mn" value="SM13001,SM13002,SM13008,SM13019,SM13042,SM13027, SM13050,SM13045" />

    <add key="DatabaseServiceContractMasterColumnName_j1" value="SM11001,SM11003,SM11004,SM11011,SM11012,SM11014,SM11034,SM11015,SM11016,SM11017,SM11018,SM11023,SM11027,SM11068,SM11022,SM11093" />
    <add key="DatabaseServiceContractLineColumnName_j1" value="SM13001,SM13002,SM13008,SM13019,SM13042,SM13027, SM13050,SM13045" />

    <add key="DatabaseServiceContractMasterColumnName_j4" value="SM11001,SM11003,SM11004,SM11011,SM11012,SM11014,SM11034,SM11015,SM11016,SM11017,SM11018,SM11023,SM11027,SM11068,SM11022,SM11093" />
    <add key="DatabaseServiceContractLineColumnName_j4" value="SM13001,SM13002,SM13008,SM13019,SM13042,SM13027, SM13050,SM13045" />

    <add key="DatabaseServiceContractMasterColumnName_l1" value="SM11001,SM11003,SM11004,SM11011,SM11012,SM11014,SM11034,SM11015,SM11016,SM11017,SM11018,SM11023,SM11027,SM11068,SM11022,SM11093" />
    <add key="DatabaseServiceContractLineColumnName_l1" value="SM13001,SM13002,SM13008,SM13019,SM13042,SM13027, SM13050,SM13045" />

    <add key="DatabaseServiceContractMasterColumnName_m1" value="SM11001,SM11003,SM11004,SM11011,SM11012,SM11014,SM11034,SM11015,SM11016,SM11017,SM11018,SM11023,SM11027,SM11068,SM11022,SM11093" />
    <add key="DatabaseServiceContractLineColumnName_m1" value="SM13001,SM13002,SM13008,SM13019,SM13042,SM13027, SM13050,SM13045" />

    <add key="DatabaseServiceContractMasterColumnName_va" value="SM11001,SM11003,SM11004,SM11011,SM11012,SM11014,SM11034,SM11015,SM11016,SM11017,SM11018,SM11023,SM11027,SM11068,SM11022,SM11093" />
    <add key="DatabaseServiceContractLineColumnName_va" value="SM13001,SM13002,SM13008,SM13019,SM13042,SM13027, SM13050,SM13045" />

    <add key="DatabaseServiceContractMasterColumnName_vc" value="SM11001,SM11003,SM11004,SM11011,SM11012,SM11014,SM11034,SM11015,SM11016,SM11017,SM11018,SM11023,SM11027,SM11068,SM11022,SM11093" />
    <add key="DatabaseServiceContractLineColumnName_vc" value="SM13001,SM13002,SM13008,SM13019,SM13042,SM13027, SM13050,SM13045" />

    <!-- iScala 
    <add key="DatabaseServiceContractMasterTableName_8M" value="ScalaCL..SL018M00" />
    <add key="DatabaseServiceContractLineTableName_8M" value="ScalaCL..SL038M00" />

    <add key="DatabaseServiceContractMasterTableName_8N" value="ScalaCL..SL018N00" />
    <add key="DatabaseServiceContractLineTableName_8N" value="ScalaCL..SL038N00" />

    <add key="DatabaseServiceContractMasterTableName_8Q" value="ScalaCL..SL018Q00" />
    <add key="DatabaseServiceContractLineTableName_8Q" value="ScalaCL..SL038Q00" />

    <add key="DatabaseServiceContractMasterTableName_7A" value="ScalaCL..SL017A00" />
    <add key="DatabaseServiceContractLineTableName_7A" value="ScalaCL..SL037A00" />

    <add key="DatabaseServiceContractMasterTableName_7B" value="ScalaCL..SL017B00" />
    <add key="DatabaseServiceContractLineTableName_7B" value="ScalaCL..SL037B00" />

    <add key="DatabaseServiceContractMasterTableName_7N" value="ScalaCL..SL017N00" />
    <add key="DatabaseServiceContractLineTableName_7N" value="ScalaCL..SL037N00" />

    <add key="DatabaseServiceContractMasterColumnName_8M" value="SM11001,SM11003,SM11004,SM11011,SM11012,SM11014,SM11034,SM11015,SM11016,SM11017,SM11018,SM11023,SM11027,SM11068,SM11022,SM11093" />
    <add key="DatabaseServiceContractLineColumnName_8M" value="SM13001,SM13002,SM13008,SM13019,SM13042,SM13027, SM13050,SM13045" />

    <add key="DatabaseServiceContractMasterColumnName_8N" value="SM11001,SM11003,SM11004,SM11011,SM11012,SM11014,SM11034,SM11015,SM11016,SM11017,SM11018,SM11023,SM11027,SM11068,SM11022,SM11093" />
    <add key="DatabaseServiceContractLineColumnName_8N" value="SM13001,SM13002,SM13008,SM13019,SM13042,SM13027, SM13050,SM13045" />

    <add key="DatabaseServiceContractMasterColumnName_8Q" value="SM11001,SM11003,SM11004,SM11011,SM11012,SM11014,SM11034,SM11015,SM11016,SM11017,SM11018,SM11023,SM11027,SM11068,SM11022,SM11093" />
    <add key="DatabaseServiceContractLineColumnName_8Q" value="SM13001,SM13002,SM13008,SM13019,SM13042,SM13027, SM13050,SM13045" />

    <add key="DatabaseServiceContractMasterColumnName_7A" value="SM11001,SM11003,SM11004,SM11011,SM11012,SM11014,SM11034,SM11015,SM11016,SM11017,SM11018,SM11023,SM11027,SM11068,SM11022,SM11093" />
    <add key="DatabaseServiceContractLineColumnName_7A" value="SM13001,SM13002,SM13008,SM13019,SM13042,SM13027, SM13050,SM13045" />

    <add key="DatabaseServiceContractMasterColumnName_7B" value="SM11001,SM11003,SM11004,SM11011,SM11012,SM11014,SM11034,SM11015,SM11016,SM11017,SM11018,SM11023,SM11027,SM11068,SM11022,SM11093" />
    <add key="DatabaseServiceContractLineColumnName_7B" value="SM13001,SM13002,SM13008,SM13019,SM13042,SM13027, SM13050,SM13045" />

    <add key="DatabaseServiceContractMasterColumnName_7N" value="SM11001,SM11003,SM11004,SM11011,SM11012,SM11014,SM11034,SM11015,SM11016,SM11017,SM11018,SM11023,SM11027,SM11068,SM11022,SM11093" />
    <add key="DatabaseServiceContractLineColumnName_7N" value="SM13001,SM13002,SM13008,SM13019,SM13042,SM13027, SM13050,SM13045" />
-->
    <!--<add key="DatabaseTableName_8M" value="ScalaCL..SM078M00" />
    <add key="DatabaseTableName_8M" value="ScalaCL..SM078M00" />
    <add key="DatabaseTableName_8N" value="ScalaCL..SM078N00" />
    <add key="DatabaseTableName_8Q" value="ScalaCL..SM078Q00" />
    <add key="DatabaseTableName_7A" value="ScalaCO..SM077A00" />
    <add key="DatabaseTableName_7B" value="ScalaCO..SM077B00" />
    <add key="DatabaseTableName_7N" value="ScalaCO..SM037N00 " />-->

    <!-- Mail Settings -->
    <add key="SendExceptionMail" value="false" />
    <add key="Server" value="webmail.jci.com" />
    <add key="From" value="no-reply-microservices@jci.com" />
    <!-- Comma separated email ids -->
    <add key="To" value="vinod.bhoite-ext@jci.com,vivek.waykole@jci.com,amardeep.parwar-ext@jci.com" />
    <!-- Comma separated email ids -->
    <add key="CC" value="abhishek.kumar.gupta-ext@jci.com" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.diagnostics>
    <switches>
      <add name="BoolSwitch" value="1" />
    </switches>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>