<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="trace.log" formatter="Text Formatter" asynchronous="true" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.diagnostics>
    <switches>
      <add name="BoolSwitch" value="1" />
    </switches>
  </system.diagnostics>
  <appSettings>
    <add key="JasConfigPath" value="C:\JCI_MicroServicesProject\MEFDll\PurchaseOrderBySupplier\r_jaas.conf"/>
    <add key="DatasourceLibraryPath" value="C:\JCI_MicroServicesProject\MEFDll\PurchaseOrderBySupplier"/>
    <add key="ServiceName" value="CreditStatus" />
    <add key="Environment" value="Dev" />
    <add key="ConfigurationDbConnectionString" value="Data Source=.\sqlexpress;Initial Catalog=Configuration;Integrated Security=True" />
    <add key="ReadConfigFromDatabase" value="false" />
    <add key="DatabaseConnectionString" value="Driver={Hortonworks Hive ODBC Driver};uid={a3000053@JCI.COM};asyncexecpollinterval=100;authmech=1;binarycolumnlength=32767;decimalcolumnscale=10;defaultstringcolumnlength=255;delegatekrbcreds=0;description=HiveServer;driverconfigtakeprecedence=0;enableasyncexec=0;fastsqlprepare=0;fixunquoteddefaultschemanameinquery=1;gettableswithquery=1;hiveservertype=2;host={c201sc02m001.jci.com:2181,c201sc02m002.jci.com:2181,c201sc02m003.jci.com:2181};invalidsessionautorecover=1;krbhostfqdn=_HOST;krbrealm=JCI.COM;krbservicename=hive;rowsfetchedperblock=10000;schema=default;servicediscoverymode=1;showsystemtable=0;sockettimeout=60;ssl=0;thrifttransport=1;usenativequery=0;useonlysspi=0;useunicodesqlcharactertypes=0;zknamespace=hiveserver2;ssp_hive.fetch.task.conversion=none" />

    <add key="DatalakeTableName_na" value="iscala_bh_dbo_usable.pc12na00" />
    <add key="DatalakeTableName_n1" value="scala_nz_dbo_usable.pc12n100" />   
    <add key="DatalakeTableName_mg" value="scala_db_dbo_usable.pc12mg00" />
    <add key="DatalakeTableName_mh" value="scala_db_dbo_usable.pc12mh00" />   
    <add key="DatalakeTableName_mi" value="scala_db_dbo_usable.pc12mi00" />
    <add key="DatalakeTableName_mj" value="scala_db_dbo_usable.pc12mj00" />   
    <add key="DatalakeTableName_mk" value="scala_qa_dbo_usable.pc12mk00" />
    <add key="DatalakeTableName_ml" value="scala_om_dbo_usable.pc12ml00" />   
    <add key="DatalakeTableName_mn" value="scala_qv_dbo_usable.pc12mn00" />   
    <add key="DatalakeTableName_j1" value="scala_th_dbo_usable.pc12j100" />
    <add key="DatalakeTableName_j4" value="scala_th_dbo_usable.pc12j400" />   
    <add key="DatalakeTableName_l1" value="scala_kr_dbo_usable.pc12l100" />   
    <add key="DatalakeTableName_m1" value="scala_my_dbo_usable.pc12m100" />    
    <add key="DatalakeTableName_va" value="scala_cn_marine_dbo_usable.pc12va00" />
    <add key="DatalakeTableName_vc" value="scala_cn_marine_dbo_usable.pc12vc00" />
    
    <add key="DatalakeColumnName_na" value=" distinct pc12008,pc12007,pc12001,pc12010,pc12012,pc12013" />
    <add key="DatalakeColumnName_n1" value=" distinct pc12008,pc12007,pc12001,pc12010,pc12012,pc12013" />
    <add key="DatalakeColumnName_mg" value=" distinct pc12008,pc12007,pc12001,pc12010,pc12012,pc12013" />
    <add key="DatalakeColumnName_mh" value=" distinct pc12008,pc12007,pc12001,pc12010,pc12012,pc12013" />
    <add key="DatalakeColumnName_mi" value=" distinct pc12008,pc12007,pc12001,pc12010,pc12012,pc12013" />
    <add key="DatalakeColumnName_mj" value=" distinct pc12008,pc12007,pc12001,pc12010,pc12012,pc12013" />
    <add key="DatalakeColumnName_mk" value=" distinct pc12008,pc12007,pc12001,pc12010,pc12012,pc12013" />
    <add key="DatalakeColumnName_ml" value=" distinct pc12008,pc12007,pc12001,pc12010,pc12012,pc12013" />
    <add key="DatalakeColumnName_mn" value=" distinct pc12008,pc12007,pc12001,pc12010,pc12012,pc12013" />
    <add key="DatalakeColumnName_j1" value=" distinct pc12008,pc12007,pc12001,pc12010,pc12012,pc12013" />
    <add key="DatalakeColumnName_j4" value=" distinct pc12008,pc12007,pc12001,pc12010,pc12012,pc12013" />
    <add key="DatalakeColumnName_l1" value=" distinct pc12008,pc12007,pc12001,pc12010,pc12012,pc12013" />
    <add key="DatalakeColumnName_m1" value=" distinct pc12008,pc12007,pc12001,pc12010,pc12012,pc12013" />
    <add key="DatalakeColumnName_va" value=" distinct pc12008,pc12007,pc12001,pc12010,pc12012,pc12013" />
    <add key="DatalakeColumnName_vc" value=" distinct pc12008,pc12007,pc12001,pc12010,pc12012,pc12013" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>