<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="DatabaseConnectionString" value="Driver={Hortonworks Hive ODBC Driver};uid={a3000053@JCI.COM};asyncexecpollinterval=100;authmech=1;binarycolumnlength=32767;decimalcolumnscale=10;defaultstringcolumnlength=255;delegatekrbcreds=0;description=HiveServer;driverconfigtakeprecedence=0;enableasyncexec=0;fastsqlprepare=0;fixunquoteddefaultschemanameinquery=1;gettableswithquery=1;hiveservertype=2;host={c201sc02m001.jci.com:2181,c201sc02m002.jci.com:2181,c201sc02m003.jci.com:2181};invalidsessionautorecover=1;krbhostfqdn=_HOST;krbrealm=JCI.COM;krbservicename=hive;rowsfetchedperblock=10000;schema=default;servicediscoverymode=1;showsystemtable=0;sockettimeout=60;ssl=0;thrifttransport=1;usenativequery=0;useonlysspi=0;useunicodesqlcharactertypes=0;zknamespace=hiveserver2;ssp_hive.fetch.task.conversion=none" />
    <add key="ReadConfigFromDatabase" value="false" />
    <add key="ConfigurationDbConnectionString" value="server=M2387807\JCISQLDATA;database=Configuration;user id=sa; pwd=Jci@123" />
    <add key="ServiceName" value="SalesLedgerInvoicing" />
    <add key="Environment" value="Dev" />
    <add key="DatasourceLibraryPath" value="C:\JCI_MicroServicesProject\MEFDll\SalesLedgerInvoicing" />
    <add key="JasConfigPath" value="C:\JCI_MicroServicesProject\MEFDll\SalesLedgerInvoicing\r_jaas.conf"/>
    <add key="DatabaseCustomerFileTableName_na" value="iscala_bh_dbo_usable.sl01na00" />
    <add key="DatabaseSalesLedgerInvoicesTableName_na" value="iscala_bh_dbo_usable.sl03na00" />

    <add key="DatabaseCustomerFileTableName_n1" value="scala_nz_dbo_usable.sl01n100" />
    <add key="DatabaseSalesLedgerInvoicesTableName_n1" value="scala_nz_dbo_usable.sl03n100" />

    <add key="DatabaseCustomerFileTableName_mg" value="scala_db_dbo_usable.sl01mg00" />
    <add key="DatabaseSalesLedgerInvoicesTableName_mg" value="scala_db_dbo_usable.sl03mg00" />

    <add key="DatabaseCustomerFileTableName_mh" value="scala_db_dbo_usable.sl01mh00" />
    <add key="DatabaseSalesLedgerInvoicesTableName_mh" value="scala_db_dbo_usable.sl03mh00" />

    <add key="DatabaseCustomerFileTableName_mi" value="scala_db_dbo_usable.sl01mi00" />
    <add key="DatabaseSalesLedgerInvoicesTableName_mi" value="scala_db_dbo_usable.sl03mi00" />

    <add key="DatabaseCustomerFileTableName_mj" value="scala_db_dbo_usable.sl01mj00" />
    <add key="DatabaseSalesLedgerInvoicesTableName_mj" value="scala_db_dbo_usable.sl03mj00" />

    <add key="DatabaseCustomerFileTableName_mk" value="scala_qa_dbo_usable.sl01mk00" />
    <add key="DatabaseSalesLedgerInvoicesTableName_mk" value="scala_qa_dbo_usable.sl03mk00" />

    <add key="DatabaseCustomerFileTableName_ml" value="scala_om_dbo_usable.sl01ml00" />
    <add key="DatabaseSalesLedgerInvoicesTableName_ml" value="scala_om_dbo_usable.sl03ml00" />

    <add key="DatabaseCustomerFileTableName_mn" value="scala_qv_dbo_usable.sl01mn00" />
    <add key="DatabaseSalesLedgerInvoicesTableName_mn" value="scala_qv_dbo_usable.sl03mn00" />

    <add key="DatabaseCustomerFileTableName_j1" value="scala_th_dbo_usable.sl01j100" />
    <add key="DatabaseSalesLedgerInvoicesTableName_j1" value="scala_th_dbo_usable.sl03j100" />

    <add key="DatabaseCustomerFileTableName_j4" value="scala_th_dbo_usable.sl01j400" />
    <add key="DatabaseSalesLedgerInvoicesTableName_j4" value="scala_th_dbo_usable.sl03j400" />

    <add key="DatabaseCustomerFileTableName_l1" value="scala_kr_dbo_usable.sl01l100" />
    <add key="DatabaseSalesLedgerInvoicesTableName_l1" value="scala_kr_dbo_usable.sl03l100" />

    <add key="DatabaseCustomerFileTableName_m1" value="scala_my_dbo_usable.sl01m100" />
    <add key="DatabaseSalesLedgerInvoicesTableName_m1" value="scala_my_dbo_usable.sl03m100" />

    <add key="DatabaseCustomerFileTableName_va" value="scala_cn_marine_dbo_usable.sl01va00" />
    <add key="DatabaseSalesLedgerInvoicesTableName_va" value="scala_cn_marine_dbo_usable.sl03va00" />

    <add key="DatabaseCustomerFileTableName_vc" value="scala_cn_marine_dbo_usable.sl01vc00" />
    <add key="DatabaseSalesLedgerInvoicesTableName_vc" value="scala_cn_marine_dbo_usable.sl03vc00" />

    <add key="DatabaseCustomerFileColumnName_na" value="sl01001,sl01002" />
    <add key="DatabaseSalesLedgerInvoicesColumnName_na" value="sl03001,sl03002,sl03004,sl03006,sl03013,sl03025,sl03027,sl03035,sl03036,sl03040,sl03042" />

    <add key="DatabaseCustomerFileColumnName_n1" value="sl01001,sl01002" />
    <add key="DatabaseSalesLedgerInvoicesColumnName_n1" value="sl03001,sl03002,sl03004,sl03006,sl03013,sl03025,sl03027,sl03035,sl03036,sl03040,sl03042" />

    <add key="DatabaseCustomerFileColumnName_mg" value="sl01001,sl01002" />
    <add key="DatabaseSalesLedgerInvoicesColumnName_mg" value="sl03001,sl03002,sl03004,sl03006,sl03013,sl03025,sl03027,sl03035,sl03036,sl03040,sl03042" />

    <add key="DatabaseCustomerFileColumnName_mh" value="sl01001,sl01002" />
    <add key="DatabaseSalesLedgerInvoicesColumnName_mh" value="sl03001,sl03002,sl03004,sl03006,sl03013,sl03025,sl03027,sl03035,sl03036,sl03040,sl03042" />

    <add key="DatabaseCustomerFileColumnName_mi" value="sl01001,sl01002" />
    <add key="DatabaseSalesLedgerInvoicesColumnName_mi" value="sl03001,sl03002,sl03004,sl03006,sl03013,sl03025,sl03027,sl03035,sl03036,sl03040,sl03042" />

    <add key="DatabaseCustomerFileColumnName_mj" value="sl01001,sl01002" />
    <add key="DatabaseSalesLedgerInvoicesColumnName_mj" value="sl03001,sl03002,sl03004,sl03006,sl03013,sl03025,sl03027,sl03035,sl03036,sl03040,sl03042" />

    <add key="DatabaseCustomerFileColumnName_mk" value="sl01001,sl01002" />
    <add key="DatabaseSalesLedgerInvoicesColumnName_mk" value="sl03001,sl03002,sl03004,sl03006,sl03013,sl03025,sl03027,sl03035,sl03036,sl03040,sl03042" />

    <add key="DatabaseCustomerFileColumnName_ml" value="sl01001,sl01002" />
    <add key="DatabaseSalesLedgerInvoicesColumnName_ml" value="sl03001,sl03002,sl03004,sl03006,sl03013,sl03025,sl03027,sl03035,sl03036,sl03040,sl03042" />

    <add key="DatabaseCustomerFileColumnName_mn" value="sl01001,sl01002" />
    <add key="DatabaseSalesLedgerInvoicesColumnName_mn" value="sl03001,sl03002,sl03004,sl03006,sl03013,sl03025,sl03027,sl03035,sl03036,sl03040,sl03042" />

    <add key="DatabaseCustomerFileColumnName_j1" value="sl01001,sl01002" />
    <add key="DatabaseSalesLedgerInvoicesColumnName_j1" value="sl03001,sl03002,sl03004,sl03006,sl03013,sl03025,sl03027,sl03035,sl03036,sl03040,sl03042" />

    <add key="DatabaseCustomerFileColumnName_j4" value="sl01001,sl01002" />
    <add key="DatabaseSalesLedgerInvoicesColumnName_j4" value="sl03001,sl03002,sl03004,sl03006,sl03013,sl03025,sl03027,sl03035,sl03036,sl03040,sl03042" />

    <add key="DatabaseCustomerFileColumnName_l1" value="sl01001,sl01002" />
    <add key="DatabaseSalesLedgerInvoicesColumnName_l1" value="sl03001,sl03002,sl03004,sl03006,sl03013,sl03025,sl03027,sl03035,sl03036,sl03040,sl03042" />

    <add key="DatabaseCustomerFileColumnName_m1" value="sl01001,sl01002" />
    <add key="DatabaseSalesLedgerInvoicesColumnName_m1" value="sl03001,sl03002,sl03004,sl03006,sl03013,sl03025,sl03027,sl03035,sl03036,sl03040,sl03042" />

    <add key="DatabaseCustomerFileColumnName_va" value="sl01001,sl01002" />
    <add key="DatabaseSalesLedgerInvoicesColumnName_va" value="sl03001,sl03002,sl03004,sl03006,sl03013,sl03025,sl03027,sl03035,sl03036,sl03040,sl03042" />

    <add key="DatabaseCustomerFileColumnName_vc" value="sl01001,sl01002" />
    <add key="DatabaseSalesLedgerInvoicesColumnName_vc" value="sl03001,sl03002,sl03004,sl03006,sl03013,sl03025,sl03027,sl03035,sl03036,sl03040,sl03042" />

    <!-- Mail Settings -->
    <add key="SendExceptionMail" value="true"/>
    <add key="Server" value="webmail.jci.com"/>
    <add key="From" value="no-reply-microservices@jci.com"/>
    <!-- Comma separated email ids -->
    <add key="To" value="vinod.bhoite-ext@jci.com,vivek.waykole@jci.com,amardeep.parwar-ext@jci.com"/>
    <!-- Comma separated email ids -->
    <add key="CC" value="abhishek.kumar.gupta-ext@jci.com"/>

  </appSettings>
</configuration>