<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatalakeConnectionString" value="Driver={Hortonworks Hive ODBC Driver};uid={a3000053@JCI.COM};asyncexecpollinterval=100;authmech=1;binarycolumnlength=32767;decimalcolumnscale=10;defaultstringcolumnlength=255;delegatekrbcreds=0;description=HiveServer;driverconfigtakeprecedence=0;enableasyncexec=0;fastsqlprepare=0;fixunquoteddefaultschemanameinquery=1;gettableswithquery=1;hiveservertype=2;host={c201sc02m001.jci.com:2181,c201sc02m002.jci.com:2181,c201sc02m003.jci.com:2181};invalidsessionautorecover=1;krbhostfqdn=_HOST;krbrealm=JCI.COM;krbservicename=hive;rowsfetchedperblock=10000;schema=default;servicediscoverymode=1;showsystemtable=0;sockettimeout=60;ssl=0;thrifttransport=1;usenativequery=0;useonlysspi=0;useunicodesqlcharactertypes=0;zknamespace=hiveserver2"/>
    <add key="iScalaConnectionString" value="server=J051M106.jci.com; uid=ISCST-42275_Denodo_DEV; pwd=*)&amp;^%hdhdb83TD"/>

    <add key="ReadConfigFromDatabase" value="false" />
    <add key="ConfigurationDbConnectionString" value="server=M2387807\JCISQLDATA;database=Configuration;user id=sa; pwd=Jci@123" />
    <add key="ServiceName" value="ServiceOrder" />
    <add key="Environment" value="Dev" />

    <add key="DatalakeServiceOrderMasterTableName_n1" value="iscala_bh_dbo_usable.sm01n100"/>
    <add key="DatalakeCustomerFileTableName_n1" value="iscala_bh_dbo_usable.sl01n100"/>
    <add key="DatalakeServiceOrderActivityLinesTableName_n1" value="iscala_bh_dbo_usable.sm03n100 "/>
    <add key="DatalakeServiceOrderCostLinesTableName_n1" value="iscala_bh_dbo_usable.sm05n100 "/>
    <add key="DatalakeServiceOrderMaterialLinesTableName_n1" value="iscala_bh_dbo_usable.sm07n100"/>
  </appSettings>
</configuration>