<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="Log\trace.log" formatter="Text Formatter" asynchronous="true" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <system.diagnostics>
    <switches>
      <add name="BoolSwitch" value="1" />
    </switches>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ReadConfigFromDatabase" value="false" />
    <add key="ConfigurationDbConnectionString" value="server=M2387807\JCISQLDATA;database=Configuration;user id=sa; pwd=Jci@123" />
    <add key="ServiceName" value="CustomerSalesLedger" />
    <add key="Environment" value="Dev" />
    <add key="DatasourceLibraryPath" value="C:\JCI_MicroServicesProject\MEFDll\CustomerSalesLedger" />
    <add key="JasConfigPath" value="C:\JCI_MicroServicesProject\MEFDll\CustomerSalesLedger\r_jaas.conf"/>
    <add key="ConnectionCacheTime" value="60"/>
    <!--<add key="DatasourceLibraryPath" value="C:\Vinod\DOCs\Project\MEFDll\CustomerInformation"/>-->
    <add key="DatabaseConnectionString" value="Driver={Hortonworks Hive ODBC Driver};uid={a3000053@JCI.COM};asyncexecpollinterval=100;authmech=1;binarycolumnlength=32767;decimalcolumnscale=10;defaultstringcolumnlength=255;delegatekrbcreds=0;description=HiveServer;driverconfigtakeprecedence=0;enableasyncexec=0;fastsqlprepare=0;fixunquoteddefaultschemanameinquery=1;gettableswithquery=1;hiveservertype=2;host={c201sc02m001.jci.com:2181,c201sc02m002.jci.com:2181,c201sc02m003.jci.com:2181};invalidsessionautorecover=1;krbhostfqdn=_HOST;krbrealm=JCI.COM;krbservicename=hive;rowsfetchedperblock=10000;schema=default;servicediscoverymode=1;showsystemtable=0;sockettimeout=60;ssl=0;thrifttransport=1;usenativequery=0;useonlysspi=0;useunicodesqlcharactertypes=0;zknamespace=hiveserver2;ssp_hive.fetch.task.conversion=none" />
    <add key="DatabaseTableName_na" value="iscala_bh_dbo_usable.sl01na00" />
    <add key="DatabaseTableName_n1" value="scala_nz_dbo_usable.sl01n100" />
    <add key="DatabaseTableName_mg" value="scala_db_dbo_usable.sl01mg00" />
    <add key="DatabaseTableName_mh" value="scala_db_dbo_usable.sl01mh00" />
    <add key="DatabaseTableName_mi" value="scala_db_dbo_usable.sl01mi00" />
    <add key="DatabaseTableName_mj" value="scala_db_dbo_usable.sl01mj00" />
    <add key="DatabaseTableName_mk" value="scala_qa_dbo_usable.sl01mk00" />
    <add key="DatabaseTableName_ml" value="scala_om_dbo_usable.sl01ml00" />
    <add key="DatabaseTableName_mn" value="scala_qv_dbo_usable.sl01mn00" />
    <add key="DatabaseTableName_j1" value="scala_th_dbo_usable.sl01j100" />
    <add key="DatabaseTableName_j4" value="scala_th_dbo_usable.sl01j400" />
    <add key="DatabaseTableName_l1" value="scala_kr_dbo_usable.sl01l100" />
    <add key="DatabaseTableName_m1" value="scala_my_dbo_usable.sl01m100" />
    <add key="DatabaseTableName_va" value="scala_cn_marine_dbo_usable.sl01va00" />
    <add key="DatabaseTableName_vc" value="scala_cn_marine_dbo_usable.sl01vc00" />
    <add key="DatabaseColumnName_na" value="sl01002, sl01001, sl01010, sl01011, sl01018, sl01021, sl01024, sl01038, sl01045, sl01048, sl01049, sl01050, sl01051, sl01054, sl01068, sl01112" />
    <add key="DatabaseColumnName_n1" value="sl01002, sl01001, sl01010, sl01011, sl01018, sl01021, sl01024, sl01038, sl01045, sl01048, sl01049, sl01050, sl01051, sl01054, sl01068, sl01193, sl01112" />
    <add key="DatabaseColumnName_mg" value="sl01002, sl01001, sl01010, sl01011, sl01018, sl01021, sl01024, sl01038, sl01045, sl01048, sl01049, sl01050, sl01051, sl01054, sl01068, sl01193, sl01112" />
    <add key="DatabaseColumnName_mh" value="sl01002, sl01001, sl01010, sl01011, sl01018, sl01021, sl01024, sl01038, sl01045, sl01048, sl01049, sl01050, sl01051, sl01054, sl01068, sl01193, sl01112" />
    <add key="DatabaseColumnName_mi" value="sl01002, sl01001, sl01010, sl01011, sl01018, sl01021, sl01024, sl01038, sl01045, sl01048, sl01049, sl01050, sl01051, sl01054, sl01068, sl01193, sl01112" />
    <add key="DatabaseColumnName_mj" value="sl01002, sl01001, sl01010, sl01011, sl01018, sl01021, sl01024, sl01038, sl01045, sl01048, sl01049, sl01050, sl01051, sl01054, sl01068, sl01193, sl01112" />
    <add key="DatabaseColumnName_mk" value="sl01002, sl01001, sl01010, sl01011, sl01018, sl01021, sl01024, sl01038, sl01045, sl01048, sl01049, sl01050, sl01051, sl01054, sl01068, sl01193, sl01112" />
    <add key="DatabaseColumnName_ml" value="sl01002, sl01001, sl01010, sl01011, sl01018, sl01021, sl01024, sl01038, sl01045, sl01048, sl01049, sl01050, sl01051, sl01054, sl01068, sl01193, sl01112" />
    <add key="DatabaseColumnName_mn" value="sl01002, sl01001, sl01010, sl01011, sl01018, sl01021, sl01024, sl01038, sl01045, sl01048, sl01049, sl01050, sl01051, sl01054, sl01068, sl01193, sl01112" />
    <add key="DatabaseColumnName_j1" value="sl01002, sl01001, sl01010, sl01011, sl01018, sl01021, sl01024, sl01038, sl01045, sl01048, sl01049, sl01050, sl01051, sl01054, sl01068, sl01193, sl01112" />
    <add key="DatabaseColumnName_j4" value="sl01002, sl01001, sl01010, sl01011, sl01018, sl01021, sl01024, sl01038, sl01045, sl01048, sl01049, sl01050, sl01051, sl01054, sl01068, sl01193, sl01112" />
    <add key="DatabaseColumnName_l1" value="sl01002, sl01001, sl01010, sl01011, sl01018, sl01021, sl01024, sl01038, sl01045, sl01048, sl01049, sl01050, sl01051, sl01054, sl01068, sl01193, sl01112" />
    <add key="DatabaseColumnName_m1" value="sl01002, sl01001, sl01010, sl01011, sl01018, sl01021, sl01024, sl01038, sl01045, sl01048, sl01049, sl01050, sl01051, sl01054, sl01068, sl01193, sl01112" />
    <add key="DatabaseColumnName_va" value="sl01002, sl01001, sl01010, sl01011, sl01018, sl01021, sl01024, sl01038, sl01045, sl01048, sl01049, sl01050, sl01051, sl01054, sl01068, sl01193, sl01112" />
    <add key="DatabaseColumnName_vc" value="sl01002, sl01001, sl01010, sl01011, sl01018, sl01021, sl01024, sl01038, sl01045, sl01048, sl01049, sl01050, sl01051, sl01054, sl01068, sl01193, sl01112" />

    <!-- Mail Settings -->
    <add key="SendExceptionMail" value="true" />
    <add key="Server" value="webmail.jci.com" />
    <add key="From" value="no-reply-microservices@jci.com" />
    <!-- Comma separated email ids -->
    <add key="To" value="vinod.bhoite-ext@jci.com,vivek.waykole@jci.com,amardeep.parwar-ext@jci.com" />
    <!-- Comma separated email ids -->
    <add key="CC" value="abhishek.kumar.gupta-ext@jci.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>