<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="DatasourceLibraryPath" value="C:\JCI_MicroServicesProject\MEFDll\ContractInformation"/>
    <add key="ServiceName" value="ContractInformation" />
    <add key="Environment" value="Dev" />
    <add key="ConfigurationDbConnectionString" value="Data Source=.\sqlexpress;Initial Catalog=Configuration;Integrated Security=True" />
    <add key="ReadConfigFromDatabase" value="false" />
    <add key="DatabaseConnectionString" value="Driver={Hortonworks Hive ODBC Driver};uid={a3000053@JCI.COM};asyncexecpollinterval=100;authmech=1;binarycolumnlength=32767;decimalcolumnscale=10;defaultstringcolumnlength=255;delegatekrbcreds=0;description=HiveServer;driverconfigtakeprecedence=0;enableasyncexec=0;fastsqlprepare=0;fixunquoteddefaultschemanameinquery=1;gettableswithquery=1;hiveservertype=2;host={c201sc02m001.jci.com:2181,c201sc02m002.jci.com:2181,c201sc02m003.jci.com:2181};invalidsessionautorecover=1;krbhostfqdn=_HOST;krbrealm=JCI.COM;krbservicename=hive;rowsfetchedperblock=10000;schema=default;servicediscoverymode=1;showsystemtable=0;sockettimeout=60;ssl=0;thrifttransport=1;usenativequery=0;useonlysspi=0;useunicodesqlcharactertypes=0;zknamespace=hiveserver2;ssp_hive.fetch.task.conversion=none" />
    <add key="DatalakeTableName_na" value="iscala_bh_dbo_usable.CMH1NA00" />
    <add key="DatalakeColumnName_na" value=" distinct cmh1001,cmh1002,cmh1004,cmh1005,cmh1015,cmh1016,cmh1034,cmh1040,cmh1068,cmh1091,cmh1093,cmh1096,cmh1123,cmh1132" />
  </appSettings>
  
</configuration>